*{
	padding: 0;
	margin: 0;
	font-family: Montserrat, serif;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype');
}
html{
	display: block;
	overflow: auto;
}
body{
	position: relative;
	background: orange;
	display: block;
	overflow: auto;
}
span{
	color: orange;
}
.box{
	margin: 25px 50px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
	margin-bottom: 320px;
	box-shadow: 1px 1px 5px grey;
}
.inner-box{
	margin: 0 20px;
}
header{
	text-align: center;
	width: 100%;
	height: 80px;
	z-index: 9;
	background: white;
}
header .inner-head{
	display: table;
	margin: auto;
	width: 95%;
	height: 100%;
}
header .head-cont{
	display: table-cell;
	vertical-align: middle;
}
.sticky{
	position: sticky;
	top: 0;
    width: 100%;
}
.icon{
	height: 40px;
	width: 40px;
}
.search-box{
	height: 34px;
	width: 300px;
	border-radius: 20px;
	outline: none;
	border: 1px solid grey;
	padding: 10px;
}
.search-btn{
	height: 34px;
	width: 68px;
	outline: none;
	border-radius: 20px;
	background: orange;
	border: none;
	color: white;
	font-weight: 500;
	transition: 0.5s ease;
}
.search-btn:hover{
	cursor: pointer;
	filter: brightness(80%);
}
.profile-photo{
	width: 40px;
	height: 40px;
	border-radius: 30px;
}

/*CONTENT*/
.content{
	display: block;
	max-width: 1000px;
	margin: 10px 20px;
	padding: 20px 0;
}
.content-box{
	margin-bottom: 50px;
}
.content-head{
	margin-bottom: 20px;
	font-size: 48px;
	font-weight: 700;
}
.cont-slider{
	border-radius: 20px;
	text-align: center;
	transition: 0.5s ease;
}
.cont-slider:hover{
	filter: brightness(120%);
}
.cont-slider .slide{
	color: white;
	display: none;
	border-radius: 30px;
	position: relative;
	height: 400px;
	width: auto;
	transition: 0.5s ease;
}
.cont-slider .slide-title {
	font-size: 45px;
}
.cont-slider #slide-1{
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("res/sl.jpg");
	background-size: cover;
	background-position: center;
}
.cont-slider #slide-2{
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("res/kw.png");
	background-size: cover;
	background-position: center;
}
.cont-slider #slide-3{
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("res/ks.jpg");
	background-size: cover;
	background-position: center;
}
.cont-slider #slide-4{
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("res/ore.png");
	background-size: cover;
	background-position: center;
}
.cont-slider #slide-5{
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("res/dg.jpg");
	background-size: cover;
	background-position: top;
}
.cont-slider .slide .slide-box{
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 20px;
	text-align: right;
}
.cont-slider .slide .slide-box .slide-title{
	margin-bottom: 10px;
}
.cont-slider .slide .slide-box .updates{
	padding: 5px 10px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 30px;
	font-weight: 700;
}
.download-btn{
	text-decoration: none;
	color: white;
	background-color: orange;
	padding: 10px 40px;
	margin: 20px;
	position: absolute;
	bottom: 0;
	left: 0;	
	border-radius: 30px;
	transition: 0.8s ease;
}
.download-btn:hover{
	filter: brightness(70%);
}
.dot-list{
	margin-top: 15px;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: 0.6s ease;
}
.active, .dot:hover {
  background-color: orange;
  width: 40px;
  border-radius: 20px;
}
/*SIDE BOX CONTENT*/
.side-box{
	float: right;
	text-align: center;
	margin: 50px 30px 0 0;
}
.side-box .side-head{
	margin-bottom: 20px;
}
.side-box .inner-box .side-content .content-list{
	transition: 0.4s ease;
	margin-bottom: 20px;
}
.side-box .inner-box .img-side{
	height: 120px;
	width: 220px;
	object-fit: cover;
	border-radius: 20px;
}
/*ANIME LIST*/
.bottom-list{
	background-size: red;
	display: block;
}

.bottom-list .bottom-box{
	display: inline-block;
	margin: 0 10px;
	width: 120px;
	transition: 0.4s ease;
}
.bottom-list .bottom-box .list-img{
	height: 120px;
	width: 120px;
	object-fit: cover;
	border-radius: 20px;

}
.more{
	text-decoration: none;
	color: white;
	background: orange;
	border-radius: 30px;
	padding: 3px 5px;
	display: block;
	width: 100px;
	margin: 10px auto;
	transition: 0.6s ease;
}
.more:hover{
	filter: brightness(90%);
}
.anime{
	text-decoration: none;
	color: black;
}
.anime:hover .content-list, .anime:hover .bottom-box{
	filter: brightness(80%);
}
/*FOOTER*/
footer{
	position: absolute;
	left: 50px;
	right: 50px;
	bottom: 0;
	margin: auto;
	text-align: center;
	background: orange;
	background: white;
	border-radius: 30px 30px  0 0;
	width: 90%:
}
footer .inner-footer{
	width: 100%;
}
footer .inner-footer .footer-card{
	display: inline-block;
	margin: 0 20px;
	width: 300px;
	vertical-align: top;

	height: 250px;
}
footer .inner-footer .footer-card h2{
	margin: 30px 0 15px 0;
}
footer .inner-footer .footer-card .footer-desc{
	display: block;
}
footer .inner-footer .footer-card .footer-desc ul li{
	margin: 5px 0;
}
footer .inner-footer .footer-card .footer-desc ul li:hover a{
	filter: brightness(80%);
}
footer .inner-footer .footer-card .footer-desc ul li a{
	text-decoration: none;
	transition: 0.4s ease;
	color: orange;
}
footer .inner-footer .footer-card .footer-desc textarea{
	margin: auto;
	width: 280px;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	resize: none;
	border: 2px solid orange;
}
footer .inner-footer .footer-card .footer-desc button{
	margin: auto;
	display: block;
	width: 280px;
	border-radius: 30px;
	outline: none;
	border: none;
	background-color: orange;
	padding: 5px;
	color: white;
	transition: 0.4s ease;
}
footer .inner-footer .footer-card .footer-desc button:hover{
	cursor: pointer;
	filter: brightness(80%);
}
footer .inner-footer .footer-card .footer-desc ul{
	margin: auto;
	list-style: none;
}
.created{
	padding: 10px;
	width: 100%;
	background: orange;
	color:white;
}